<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SubtitleSpeaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SubtitleSpeaker.Properties.Settings>
            <setting name="FormMaskLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormMaskSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormMaskState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FormMaskColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FormMaskOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FormMaskColorSelectIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormMaskOpacitySelectIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormMainAutoRate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FormMainCountDownPlay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FormMainVolume" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="FormMainVoiceName" serializeAs="String">
                <value />
            </setting>
            <setting name="FormMainRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormMainMainLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="FormMainSubLanguage" serializeAs="String">
                <value />
            </setting>
        </SubtitleSpeaker.Properties.Settings>
    </userSettings>
</configuration>